<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/bootstrap-multiselect.css">
<script src="/script/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="/script/site.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#multipleSelect').multiselect({
            enableSearch: false,
            includeSelectAllOption: true,
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function (event, slick, direction) {
        $('.slider').slick({
            autoplay: true,
            slidesToShow: 1,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            draggable: false,
            prevArrow: $('.prev'),
            nextArrow: $('.next'),

        });
    });
</script>
<script type="text/javascript">
    $('table.table').DataTable({
        language: {
            sProcessing: "İşleniyor...",
            sLengthMenu: "Sayfada _MENU_ Kayıt Göster",
            sZeroRecords: "Eşleşen Kayıt Bulunmadı",
            sInfo: "  _TOTAL_ Kayıttan _START_ - _END_ Arası Kayıtlar",
            sInfoEmpty: "Kayıt Yok",
            sInfoFiltered: "( _MAX_ Kayıt İçerisinden Bulunan)",
            sInfoPostFix: "",
            sSearch: "Ara:",
            sUrl: "",
            oPaginate: {
                sFirst: "İlk",
                sPrevious: "Önceki",
                sNext: "Sonraki",
                sLast: "Son",
            },
        },
        responsive:true,
        select:true,
        bPaginate: true,
        sPaginationType: "full_numbers",
        search:false
    });
</script>
</body>

</html>