<!doctype html>
<html lang="en">

<head>
    <title>Fuzone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="navigation bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Anasayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/urunler">Ürünler</a>
                    </li>
                </ul>
                <%#   <ul class="nav navbar-nav justify-content-end flex-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/urun/yeni">Ürün Ekle
                        </a>
                    </li>
                </ul>%>
            </nav>
        </div>
    </div>