<div class="searchbar  bg-dark text-white pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <!--Search Bar-->
                <form class="form-inline justify-content-sm-around pb-5 pt-5 pt-sm-0 pb-sm-0" action="/search" method="POST">
                    <!--Ürün Türü -->
                    <div class="form-group mr-3 d-block align-self-start">
                        <label for="type" class="mb-1">Ürün Türü</label>
                        <select id="multipleSelect" name="search[type]" multiple="multiple">
                            <option value="kolye">Kolye</option>
                            <option value="küpe">Küpe</option>
                            <option value="yüzük">Yüzük</option>
                            <option value="bileklik">Bileklik</option>
                            <option value="set">Set</option>
                        </select>
                    </div>
                    <!--Ürün Türü -->
                    <!--Ürün No-->
                    <div class="form-group mr-3 d-block align-self-start">
                        <label for="id" class="mb-1">Ürün Kodu</label>
                        <input type="number" class="form-control" name="search[id]" id="id" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Sadece sayı giriniz.</small>
                    </div>
                    <!--Ürün No-->
                    <!--Instagram-->
                    <div class="form-check mr-3 p-0 d-flex flex-sm-column align-self-start justify-content-between justify-content-sm-start">
                        <label for="instagram" class="mb-1">Instagram</label>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="search[instagram]" id="instagram" value="true"> Var
                        </label>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="search[instagram]" id="instagram" value="false"> Yok
                        </label>
                    </div>
                    <!--Instagram-->
                    <!--Resim-->
                    <div class="form-check p-0 mr-3 d-flex flex-sm-column align-self-start justify-content-between justify-content-sm-start">
                        <label for="images" class="mb-1">Resim</label>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="search[images]" id="images" value="true"> Var
                        </label>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="search[images]" id="images" value="false"> Yok
                        </label>
                    </div>
                    <!--Resim-->

                    <!--Submit-->
                    <button type="submit" class="btn btn-primary mt-sm-0 mt-3">Ara</button>
                    <!--Submit-->
                </form>
                <!--Search Bar-->
            </div>
        </div>
    </div>
</div>