<% include ../partials/header %>
 <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <h1>Yeni Ürün Formu</h1>
            </div>
        </div>
    </div>
      <div class="form-group bg-light pt-5 pb-5">
            <div class="container">
                <form action="/urun/<%= jewel._id%>/?_method=PUT" method="POST" >
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <!--Ürün ID-->
                            <div class="form-group">
                                <label for="id">
                                    <small>Ürün ID'si</small>
                                </label>
                                <input type="number" class="form-control" name="product[id]" id="id" aria-describedby="helpId" placeholder="" required min="1" value="<%=jewel.id %>">
                                <small id="helpId" class="form-text text-muted">Sadece sayı giriniz</small>
                            </div>
                            <!--Ürün ID-->
                        </div>
                        <div class="col-sm-6">
                            <!--Ürün İsmi-->
                            <div class="form-group">
                                <label for="name"><small>Ürün İsmi</small></label>
                                <input type="text" minlength=10 class="form-control" name="product[name]" id="name" aria-describedby="helpId" placeholder="" required value="<%=jewel.name %>">
                                <small id="helpId" class="form-text text-muted">Açıklayıcı bir isim giriniz.</small>
                            </div>
                            <!--Ürün İsmi-->
                        </div>
                        <div class="col-sm-4">
                                <!--Ürün Tür-->
                                <div class="form-group">
                                    <label for="type"><small>Ürün Türü</small></label>
                                    <select class="custom-select" name="product[type]" id="type" required>
                                        <option value="kolye">Kolye</option>
                                        <option value="küpe">Küpe</option>
                                        <option value="bileklik">Bileklik</option>
                                        <option value="yüzük">Yüzük</option>
                                        <option value="set">Set</option>
                                    </select>
                                    <script>
     $("select#type").val("<%=jewel.type %>");
</script>
                                </div>
                                <!--Ürün Tür-->
                            </div>
                    </div>
                     <div class="form-group row">
                <!--Fiyat-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="price">
                            <small>Ürün Fiyatı</small>
                        </label>
                        <input type="number" class="form-control" name="product[price]" id="price" aria-describedby="helpId" placeholder="" required min="1" value="<%=jewel.price %>">
                        <small id="helpId" class="form-text text-muted">Sadece sayı giriniz</small>
                    </div>
                </div>
                <!--Fiyat-->
                <!--Instagram-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="instagram"><small>Instagram</small></label>
                        <select class="form-control" name="product[instagram]" id="instagram" required>
                            <option value="true">Var</option>
                            <option value="false">Yok</option>
                        </select>
                        <script>
     $("select#instagram").val("<%=jewel.instagram %>");
</script>
                    </div>
                </div>
                <!--Instagram-->
                <!--Maliyet-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cost"><small>Maliyet</small></label>
                        <input type="number" class="form-control" name="product[cost]" id="cost" aria-describedby="helpId" placeholder="" required min="1" value="<%=jewel.cost%>">
                        <small id="helpId" class="form-text text-muted">Sadece sayı giriniz</small>
                    </div>
                </div>
                <!--Maliyet-->
            </div>
             <div class="form-group row">
                 <!--Stok-->
                 <div class="col-sm-3">
                            <div class="form-group">
                                <label for="stock">
                                    <small>Stok</small>
                                </label>
                                <input type="number" class="form-control" name="product[stock]" id="stock" aria-describedby="helpId" placeholder="" required value="1" min="1" value="<%=jewel.stock %>">
                                <small id="helpId" class="form-text text-muted">Sadece sayı giriniz</small>
                            </div>
                            </div>
                            <!--Stok-->
                 <!--Malzeme-->
                 <div class="col-sm-3">
            <div class="form-group">
                <label for="material"><small>Malzeme</small></label>
                <select class="form-control" name="product[info][material]" id="material" required>
                    <option value="Gümüş">Gümüş</option>
                    <option value="Pirinç">Pirinç</option>
                    <option value="Other">Maden</option>
                </select>
                <script>
     $("select#material").val("<%=jewel.info.material %>");
</script>
            </div>
        </div>
        <!--Malzeme-->
                <!--Sanatçı-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="artist"><small>Sanatçı</small></label>
                            <input type="text" minlength=10 class="form-control" name="product[info][artist]" id="artist" aria-describedby="helpId" value="Fatime Ültanır" required value="<%=jewel.info.artist %>">
                        </div>
                    </div>
                </div>
                <!--Sanatçı-->
                <!--Sanatçı URL-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="artistUrl"><small>Sanatçı İletişim</small></label>
                            <input type="url" class="form-control" name="product[info][artistUrl]" id="artistUrl" aria-describedby="helpId" value="http://instagram.com/fu.zone" required value="<%=jewel.info.artistUrl %>">
                        </div>
                    </div>
                </div>
                <!--Sanatçı URL-->
            </div>
            
    
    <div class="form-group row">
       
        <!--Ürün Ölçüleri-->
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="size"><small>Ürün Ölçüleri <strong>Her ölçü için enter butonuyla alt satıra geçiniz.</strong></small></label>
                      <textarea class="form-control" name="product[info][size]" id="size" rows="3"><%=jewel.info.size %></textarea>
                    </div>
                </div>
                <!--Ürün Ölçüleri-->
                 <!--Resim-->
        <div class="col-sm-6">
            <div class="form-group">
                <label for="image"><small>Resim</small></label>
                <input type="file" class="form-control-file" name="product[images]" id="image" placeholder="" aria-describedby="fileHelpId" multiple>
            </div>
        </div>
        
    <!--Resim-->
    </div>
                    <div class="form-group row">
                        <div class="col-12 justify-content-end d-flex">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
<% include ../partials/footer %>