<% include ../partials/header %>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-4 d-flex justify-content-around pt-5 pb-5">
                <a class="btn btn-primary " onclick="copyToClipboard('#details')">Ürün Bilgilerini Kopyala</a> 
            </div>
        </div>
    </div>
    <div class="container p-5">
        <div class="row justify-content-between">
            <!--Metadata-->
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <%=jewel.name %>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Fiyat</span>
                        <br>
                        <%=jewel.price %> ₺</li>
                    <li class="list-group-item">
                        <%=jewel.product_code.toUpperCase() %>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Instagram</span>
                        <br>
                        <% if(jewel.instagram ==="false"){ %>
                            <%= "Yok" %>
                        <%}else{%>
                            <%= "Var" %>
                        <%}%>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">Son Güncellenme Tarihi</span>
                        <br>
                        <%=jewel.typestamp.toISOString().split("T")[0] %> </li>
                </ul>
            </div>
            <!--Metadata-->
            <!--Slides-->
            <div class="col-sm-7">
                <div class="slider">
                    <% if(typeof jewel.images ==="object" && jewel.images){ %>
                        <%  jewel.images.forEach(img=>{ %>
                            <div>
                                <img class="img-fluid" src="<%= img %>">
                                <a href="<%= img %>" class="btn btn-danger btn-block" download="<% jewel.product_code.toUpperCase()%>">Resmi İndir</a>
                            </div>
                            <%  }); %>
                                <%  }  %>

                </div>
                <div class="orientaiton d-flex justify-content-between mt-1 mb-1">
                    <a  class="btn btn-info next w-50">İleri</a>
                    <a  class="btn btn-info prev w-50">Geri</a>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">Ürün Detay</h4>
                        <p class="card-text" id="details">
                            <%=jewel.size %>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <% include ../partials/footer %>