<% include ../partials/header %>
<div class="container-fluid" id="all">
    <div class="row side bg-light">
        <!--Yan Menü-->

        <div class="col-sm-12 p-0">
            <div class="toggle-btn p-3 d-flex justify-content-end">
                <a class="btn btn-light"><i class="fa fa-filter"></i></a>
            </div>
        </div>
        <div class="col-sm-12" id="sidemenu">
            <!--Tabloda Ara-->
            <div class="form-row justify-content-around">
                <div class="form-group p-sm-3">
                    <label for="searchTable">
                        <small>Ürünlerde Ara</i></small>
                    </label>
                    <input type="text" class="form-control" id="searchTable">
                </div>
                <!--Tabloda Ara-->
                <!--Türlerde Ara-->

                <!--Türlerde Ara-->
                <!-- Instagram -->
                <!-- Instagram -->
            </div>

        </div>
    </div>
    <!--Yan Menü-->
    <!--İçerik-->
    <div class="main" style="flex:1">
        <div class="container">
            <div class="row justify-content-end" id="showType">
                <div class="col-sm-2 pr-5 pt-3 pb-3 d-flex justify-content-around">
                    <a href="#" class="liste d-flex align-items-center ">
                            <i class="fa fa-2x fa-table"></i>
                    </a>
                    <a href="#" class="kart d-flex align-items-center active">
                            <i class="fa fa-2x fa-list-ol"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container d-none table-responsive pt-3 pb-3" style="overflow-x:auto;" id="table">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Ad </th>
                        <th>Tür</th>
                        <th>Kod</th>
                        <th>Fiyat</th>
                        <th>Instagram</th>
                        <th>Stok</th>
                    </tr>
                </thead>
                <tbody>
                    <%jewels.forEach((jewel)=>{%>
                    <tr>
                        <!--İsim-->
                        <td scope="row">
                            <a href="/urun/<%=jewel._id%>">
                                <%= jewel.name%>
                            </a>
                        </td>
                        <!--İsim-->

                        <!--Tür-->
                        <td>
                            <%=  jewel.type%>
                        </td>
                        <!--Tür-->

                        <!--Ürün Kodu-->
                        <td>
                            <%= jewel.product_code.toUpperCase() %>
                        </td>
                        <!--Ürün Kodu-->

                        <!--Ürün Fiyatı-->
                        <td>
                            <%= jewel.price%>₺
                        </td>
                        <!--Ürün Fiyatı-->

                        <!--Instagram-->
                        <% if(jewel.price){ %>
                        <td>Var</td>
                        <% }else{ %>
                        <td>Yok</td>
                        <% } %>
                        <!--Instagram-->
                        <!--Stok-->
                        <td>
                            <%= jewel.stock%>
                        </td>
                        <!--Stok-->
                    </tr>
                    <% });%>
                </tbody>
            </table>
        </div>
        <div class="container" id="cards">
            <div class="row">
                <%jewels.forEach((jewel)=>{%>
                <div class="col-sm-4 d-flex pb-3 pt-3">
                    <div class="card w-100">
                        <div class="card-body">
                            <% if(jewel.images) {%>
                            <img src="<%= jewel.images[0]%>" class="img-fluid pb-3">
                            <%}%>
                            <h3 class="card-title">
                                <a href="/urun/<%=jewel._id%>">
                                    <%= jewel.name%>
                                </a>
                            </h3>
                            <hr>
                            <p class="card-text">
                                <%= jewel.product_code.toUpperCase()%>
                            </p>
                            <p class="card-text" id="type">
                                    <%=   jewel.type %>
                                </p>
                            <p class="card-text">
                                <% if(typeof jewel.instagram == "boolean"){ %>
                                <% if(jewel.instagram == "true"){ %>
                                <%= "Instagram'da Var." %>
                                <% }else { %>
                                <%= "Instagram'da Yok." %>
                                <%} %>
                                <% } %>

                            </p>
                        </div>
                    </div>
                </div>
                <% });%>
            </div>
        </div>
        <ul class="pagination justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- Previous -->
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <!-- Previous -->

                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>

                    <!-- Next -->
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <!-- Next -->
                </ul>
            </nav>
        </ul>
    </div>
    <!--İçerik-->
</div>

</div>
</div>




<% include ../partials/footer %>