<h1>404 Sayfası</h1>
<%if(typeof msg ==="string" && msg){%>
    Hata: <i><%=msg%></i> 
<%}%>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/";
  }, 2000)
</script>
