<% include partials/header %>
    <div class="main pt-sm-3 bg-light pb-sm-3">
        <div class="container p-0">
            <div class="jumbotron bg-light text-sm-left text-center m-0">
                <h1 class="display-3">Fuzone</h1>
                <p class="lead">Ürün Yönetim Modülü</p>
                <hr class="my-2">
                <p class="lead">
                    <a class="btn btn-warning btn-lg" href="/urunler" role="button">Tüm Ürünleri Gör</a>
                </p>
            </div>
        </div>
    </div>
    <% include partials/search %>
    <% include partials/footer %>