<% include partials/header %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
        <h1 class="display-3">FUZONE</h1>
        <p class="lead">Merhaba Anne
         
        </p>
        <hr class="my-2">
        <%if(weather[0]!=undefined && weather){%>
        <div class="">
            <img src="<%= weather[0]['WeatherIcon'] %>" class="pt-3 pb-3"/>
            <p>Bugün hava <%= weather[0]["WeatherText"].toLowerCase();%></p>
            <p><%= " "+ weather[0]["Temperature"]["Metric"]["Value"] + " "+ weather[0]["Temperature"]["Metric"]["Unit"] %> </p>
        </div>
        <% } %>
        
        
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/urun" role="button">Tüm Ürünleri Görmek İçin Tıkla</a>
        </p>
        </div>
        <div class="col-sm-6">
            <%if(vakitler != undefined){%>
            <div class="text-center">
    <img src="<%=vakitler["AyinSekliURL"]%>" alt="">
    <p><%=vakitler["MiladiTarihUzun"] %></p>
</div>
<table class="table table-hover" id="namaz-vakitleri">
    <tbody>
        <!--Sabah-->
        <tr>
            <td scope="row" class="text-right pr-3">Sabah</td>
            <td><%=vakitler["Imsak"]%></td>
        </tr>
        <!--Sabah-->
        <!--Öğle-->
        <tr>
            <td scope="row" class="text-right pr-3">Öğle</td>
            <td><%=vakitler["Ogle"]%></td>
        </tr>
        <!--Öğle-->
        <!--İkindi-->
        <tr>
            <td scope="row" class="text-right pr-3">İkindi</td>
            <td><%=vakitler["Ikindi"]%></td>
        </tr>
        <!--İkindi-->
        <!--Akşam-->
        <tr>
            <td scope="row" class="text-right pr-3">Akşam</td>
            <td><%=vakitler["Aksam"]%></td>
        </tr>
        <!--Akşam-->
        <!--Yatsı-->
        <tr>
            <td scope="row" class="text-right pr-3">Yatsı</td>
            <td><%=vakitler["Yatsi"]%></td>
        </tr>
        <!--Yatsı-->
    </tbody>
</table>
<% } %>
        </div>
        </div>
    </div>
</div>
<% include partials/footer %>