<% include partials/header %>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="lead">Arama Kriterleriniz</p>
                    <hr class="my-2">
                    <div class="criteria d-flex justify-content-around pt-3 fixed">
                        <p>

                            <% if(typeof search === "object" && search){ %>
                                
                                <% if(typeof search.type === "object" && search.id && search.id.length > 0 ){ %>
                                    <strong>Türü: </strong>
                                    <% search.type.forEach(type => { %>
                                        <% type = type.charAt(0).toUpperCase() + type.slice(1)%>
                                            <span>
                                                <%= type %>
                                            </span>
                                            <% }); %>

                                                <% }else if(typeof search.type === "string" && search.id && search.id !== " "){ %>
                                                    
                                                    <% search.type = search.type.charAt(0).toUpperCase() + search.type.slice(1) %>
                                                    <strong>Türü: </strong>    
                                                    <span>
                                                            <%= search.type %>
                                                        </span>
                                                    </p>
                                                        <% } %>
                        
                        <% if(typeof search.id === "string" && search.id ){ %>
                            <p>
                                <strong>Kodu: </strong>
                                <%=  search.id  %>
                            </p>
                            <% } %>
                                <% if(search.instagram ){ %>
                                    <% if(search.instagram === 'true' ){ %>
                                        <p>
                                            <%= "Instagramda Var" %>
                                        </p>
                                        <% } else { %>
                                            <p>
                                                <%= "Instagramda Yok" %>
                                            </p>
                                            <% } %>
                                                <% } %>
                                                    <% if(search.images ){ %>
                                                        <% if(search.images === 'true' ){ %>
                                                            <p>
                                                                <%= "Resmi Var" %>
                                                            </p>
                                                            <% } else { %>
                                                                <p>
                                                                    <%= "Resmi Yok" %>
                                                                </p>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Ürünler-->
    <div class="container">
        <div class="row">
            <% if(typeof found === "object" && found){ %>
                <% found.forEach(function(elem){%>
                    <div class="col-sm-4">
                        <p>
                            <%= elem.name%>
                        </p>
                        <p class="lead">
                            <%= elem.product_code.toUpperCase()%>
                        </p>
                    </div>
                    <% })%>
                        <% }else{ %>
                            <div class="col">
                                <h3 class="text-center">
                                    <%= msg %>
                                </h3>
                            </div>
                            <hr>

                            <% } %>

        </div>
    </div>
    <!--Ürünler-->

    <% include partials/footer %>