a.btn {
    border-radius: 0;
}
a{
    color:#000;
}

#table .dt-bootstrap4 {
    width: 100%;
}
.multiselect-container>li>a>label {
    display: block;
}

@media all and (max-width: 425px) {
    /*Homepage*/
    .searchbar .form-group{
        width:100%;
    }
    .searchbar .btn{
        width:100%;
    }
    #sidemenu .form-group{
        width:100%;
    }
}